---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import RoleTags from "../../components/tags.astro";
import Stamp from "../../components/Stamp.astro";

import * as intro from "../../content/cv/intro.mdx";
interface Frontmatter {
  company: string;
  role: string;
  tech: string[];
  jobtype: string;
  startDate: string;
  endDate: string;
  order: number;
  dates: string;
  link: string;
}
const roles = await Astro.glob<Frontmatter>("../../content/cv/positions/*.mdx");
const reverseOrderRoles = roles.sort(
  (a, b) => b.frontmatter.order - a.frontmatter.order
);
const emailAddress = import.meta.env.EMAIL_ADDRESS;
const tel = import.meta.env.TEL_NUMBER;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex flex-col">
    <main class="p-3 m-2 md:p-8 main-wrapper container self-center">
      <section class="border-b-2">
        <div class="mb-10">
          <p class="font-virgil mb-0 text-2xl">{intro.frontmatter.name}</p>
          <p class="font-virgil mb-0">{intro.frontmatter.title}</p>
          <p class="mb-0 text-sm">{emailAddress}</p>
          <p class="mb-0 text-sm">{tel}</p>
          <a
            class="mb-0 text-sm block underline"
            href={"https://github.com/" + intro.frontmatter.github}
            >{"https://github.com/" + intro.frontmatter.github}</a
          >
          <a
            class="mb-0 text-sm block underline"
            href={intro.frontmatter.linkedin}>{intro.frontmatter.linkedin}</a
          >
        </div>
        <div class="text-xs md:text-sm print:text-xs">
          <intro.Content />
        </div>
      </section>

      <section>
        {
          reverseOrderRoles.map((role) => (
            <div
              class={`border-b-2 border-dashed border-black role py-5 relative ${
                role.frontmatter.order < 20 ? "no-print" : ""
              }`}
            >
              {role.frontmatter.dates && (
                <Stamp dates={role.frontmatter.dates} />
              )}
              <ul class="mb-5">
                <li class="text-sm">
                  <span>Company: </span>
                  <span class="font-virgil text-lg">
                    {role.frontmatter.company}
                  </span>
                </li>
                <li class="text-sm">
                  <span>Role: </span>{" "}
                  <span class="font-virgil text-lg">
                    {role.frontmatter.role}
                  </span>
                </li>
                <li class="text-sm">
                  <span>Type:</span>
                  <span class="font-virgil text-lg">
                    {role.frontmatter.jobtype && (
                      <span class={role.frontmatter.jobtype}>
                        {" "}
                        {role.frontmatter.jobtype}{" "}
                      </span>
                    )}
                  </span>
                </li>
                {role.frontmatter.link && (
                  <li class="text-sm truncate">
                    <span>Link:</span>
                    <span class="font-virgil text-lg">
                      <a
                        href={role.frontmatter.link}
                        target="_blank"
                        rel="noreferrer"
                        class="underline"
                      >
                        {role.frontmatter.link}
                      </a>
                    </span>
                  </li>
                )}
                <li class="text-sm">
                  <div class="flex">
                    <span class="pr-2">Stack:</span>
                    <span class="font-virgil text-sm pr-2">
                      {role.frontmatter.tech &&
                        role.frontmatter.tech.length > 0 && (
                          <RoleTags tags={role.frontmatter.tech} />
                        )}
                    </span>
                  </div>
                </li>
              </ul>
              <div class="text-xs print:text-xs">
                <role.Content />
              </div>
            </div>
          ))
        }
        <h2 class="text-center mt-2 hidden print:block">
          Full list of roles available : <a href="https://fri3d.gg/cv"
            >fri3d.gg/cv</a
          >
        </h2>
      </section>
    </main>
    <Footer />
    <style>
      @page {
        size: A4;
        margin: 0;
      }
    </style>
  </body>
</html>
